/****************************************************************/
* {
    padding: 0px;
    margin: 0px;
}

body {
    animation: pageLoadTransition 0.6s;
}
/****************************************************************/

.homepageText {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    width: contain;
}

    .homepageText h1 {
        font-size: 60px;
        font-family: Arial;
        transform: scale(1);
        transition: all .35s ease-in-out;
        cursor: default;
    }

        .homepageText h1:hover {
            transform: scale(1.1);
            transition: all .35s ease-in-out;
            cursor: default;
        }

/****************************************************************/

.centeredTable {
    position: absolute;
    top: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 60px 0;
}

.separatedView {
    width: 325px;
    height: 225px;
    display: block;
    border: 2px solid black;
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    cursor: default;
}

    .separatedView h3 {
        font-family: Arial;
        font-size: 22px;
        transform: scale(1);
        transition: all .25s ease-in-out;
        cursor: default;
    }

        .separatedView h3:hover {
            transform: scale(1.05);
            transition: all .25s ease-in-out;
        }

    .separatedView p {
        font-family: Arial;
        font-size: 16px;
    }

    .separatedView a {
        display: block;
        padding: 10px;
        border: 2px solid black;
        border-radius: 4px;
        color: black;
        background-color: rgba(102, 51, 102, 0.15);
        -webkit-transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
        transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
        font-family: Arial;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
    }

        .separatedView a:hover {
            border-color: black;
            background-color: rgba(102, 51, 102, 0.5);
            color: black !important;
        }

/****************************************************************/

.homepageLogo {
    margin-top: 12px;
    margin-left: 12px;
    height: 125px;
    width: 215px;
    float: left;
    background: url(Images/mountunionlogo-removebg-preview.png) no-repeat center center;
    background-size: contain;
    background-position: center center;
    position: relative;
}

.homepageNav {
    padding-right: 50px;
    padding-top: 25px;
    float: right;
    position: relative;
    z-index: 10;
}

    .homepageNav li {
        list-style: none;
        display: inline-block;
        padding-left: 30px;
    }

        .homepageNav li a {
            display: block;
            padding: 10px;
            border: 2px solid black;
            border-radius: 4px;
            color: black;
            background-color: rgba(102, 51, 102, 0.15);
            -webkit-transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
            transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
            font-family: Arial;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            font-weight: 700;
        }

            .homepageNav li a:hover {
                border-color: black;
                background-color: rgba(102, 51, 102, 0.5);
                color: black !important;
            }

.gradient {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 27px;
    background: linear-gradient(to bottom, #663366, #fff);
}

/****************************************************************/

.ddlContainer {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    border: none;
    border-radius: 6px;
    background-color: rgba(102, 51, 102, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
}

    .ddlContainer h3 {
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: Arial;
        font-size: 20px;
        transform: scale(1);
        transition: all .25s ease-in-out;
        cursor: default;
    }

        .ddlContainer h3:hover {
            transform: scale(1.05);
            transition: all .25s ease-in-out;
            cursor: default;
        }

.ddlCustomization {
    margin: 0 auto;
    width: 350px;
    display: flex;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 6px 10px;
    font-family: Arial;
    font-size: 16px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    outline: none;
    border: none;
    background-image: url('Images/ddArrow.png');
    background-size: 13px 8px;
    background-repeat: no-repeat;
    background-position: 96% center;
}

    .ddlCustomization.arrow-rotate {
        background-image: url('Images/ddArrowRotated.png');
    }

/****************************************************************/

.grid {
    margin: 0 auto;
    margin-top: 180px;
    display: grid;
    justify-content: center;
    font-family: Arial;
    font-size: 14px;
    padding-bottom: 50px;
}

    .grid td {
        padding: 10px;
        font-family: Arial;
    }

    .grid tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .grid tr:nth-child(odd) {
        background-color: rgba(102, 51, 102, 0.25);
    }

    .grid th {
        padding: 10px;
        font-family: Arial;
        background-color: rgba(102, 51, 102, 0.5);
    }

/****************************************************************/

.centeredText {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: fit-content;
    font-family: Arial;
    font-size: 50px;
    transform: scale(1);
    transition: all .35s ease-in-out;
    cursor: default;
}

    .centeredText:hover {
        transform: scale(1.1);
        transition: all .35s ease-in-out;
        cursor: default;
    }

/****************************************************************/

.blog{
    font-family: Arial;
}

    .blog h3 {
        width: fit-content;
        margin-left: 40px;
        font-size: 24px;
        transform: scale(1);
        transition: all .25s ease-in-out;
        cursor: default;
    }

        .blog h3:hover {
            transform: scale(1.05);
            transition: all .25s ease-in-out;
            cursor: default;
        }

    .blog p {
        margin-left: 80px;
    }

/****************************************************************/

.loginWrapper {
    margin: 100px auto;
    max-width: 700px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #787976;
    justify-content: center;
    align-content: center;
    color: white;
}
    .loginWrapper h3 {
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: Arial;
        font-size: 20px;
        transform: scale(1);
        transition: all .25s ease-in-out;
        cursor: default;
    }

        .loginWrapper h3:hover {
            cursor: default;
            transform: scale(1.05);
            transition: all .25s ease-in-out;
        }
    
    .loginWrapper table {
        margin-left: auto;
        margin-right: auto;
    }

    .loginWrapper tr td {
        font-family: Arial;
        font-size: 18px;
    }

    .loginWrapper a {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        font-family: Arial;
    }

.centeredButton {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centeredTextNoHover {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    font-family: Arial;
}

.selectClasses {
    position: absolute;
    top: 150px;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: #787976;
    color: white;
}

/****************************************************************/

@keyframes pageLoadTransition {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/****************************************************************/