/****************************************************************/
* {
    padding: 0px;
    margin: 0px;
}

body {
    animation: pageLoadTransition 0.7s;
}
/****************************************************************/

.homepageText {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    width: contain;
    color: black;
}

    .homepageText h1 {
        font-size: 60px;
        font-family: Arial;
        transition: all .35s ease-in-out;
    }

    .homepageText h1:hover {
        transform: scale(1.15);
        cursor: default;
    }

/****************************************************************/

.centeredTable {
    position: absolute;
    top: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 60px 0;
}

.separatedView {
    width: 325px;
    height: 225px;
    display: block;
    border: 2px solid black;
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    cursor: default;
}

    .separatedView:hover {
        background-color: rgba(102, 51, 102, 0.25);
        transition: all .2s ease-in-out;
    }

    .separatedView h3 {
        font-family: Arial;
        font-size: 20px;
    }

        .separatedView h3:hover {
            transform: scale(1.05);
            transition: all .2s ease-in-out;
        }

    .separatedView p {
        font-family: Arial;
        font-size: 14px;
    }

    .separatedView a {
        display: block;
        padding: 8px;
        border: 2px solid black;
        border-radius: 4px;
        color: black;
        font-size: 16px;
        -webkit-transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
        transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
        font-family: Arial;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        text-decoration: none;
        font-weight: 700;
    }

        .separatedView a:hover {
            border-color: black;
            background-color: black;
            color: purple !important;
        }

.homepageLogo {
    margin-top: 12px;
    margin-left: 12px;
    height: 125px;
    width: 215px;
    float: left;
    background: url(Images/mountunionlogo-removebg-preview.png) no-repeat center center;
    background-size: contain;
    background-position: center center;
    position: relative;
}

.homepageNav {
    padding-right: 50px;
    padding-top: 25px;
    float: right;
    position: relative;
    z-index: 10;
}

    .homepageNav li {
        list-style: none;
        display: inline-block;
        padding-left: 30px;
    }

        .homepageNav li a {
            display: block;
            padding: 8px;
            border: 2px solid black;
            border-radius: 4px;
            color: black;
            font-size: 16px;
            -webkit-transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
            transition: border-color 300ms ease, color 300ms cubic-bezier(.23, 1, .32, 1), background-color 300ms ease;
            font-family: Arial;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            text-decoration: none;
            font-weight: 700;
        }

            .homepageNav li a:hover {
                border-color: black;
                background-color: black;
                color: purple !important;
            }

.gradient {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 27px;
    background: linear-gradient(to bottom, #663366, #fff);
}


/****************************************************************/

@keyframes pageLoadTransition {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/****************************************************************/